@import '../../layouts/theme.scss';

.footer {
  background-color: $md-primary-color;
  color: $md-secondary-color;
  padding-bottom: 1rem;
  font-size: 0.8rem;
  text-align: center;
  border-top: 3px solid $md-primary-color;

  nav {
    display: flex;
    margin: 1em auto 0;
    max-width: 30rem;
  }
}

// .nav-socials {
//   align-items: center;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
// }

// .footer-fixed {
//   position: fixed;
//   left: 0;
//   bottom: 0;
//   right: 0;
// }
