$md-primary-color: #000;
$md-secondary-color: #fff;
$md-tertiary-color: grey;

a:link {
  text-decoration: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

ul {
  list-style-type: none;
  margin-left: unset;
}
